/* Make more transparent the title section and smaller too */
.light-gallery__text {
  background: rgba(0, 0, 0, 0.5) !important;
  font-size: 12px;
  font-weight: 700;
  bottom: 5px !important;
  left: 5px;
  width: 20px !important;
  height: 20px !important;
  padding: 0 !important;
  border-radius: 50%;
}

// .vue-content-placeholders,
// .vue-content-placeholders-text,
.vue-content-placeholders-text__line {
  border-radius: 20px !important;
}

.vue-content-placeholders-img,
.vue-content-placeholders-text__line {
  background: #FEEBC8 !important;

  &::before {
    background: linear-gradient(to right, transparent 0%, #FBD38D 15%, transparent 30%) !important;
  }
}
