@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
  font-family: MontserratRegular;
  src: url('~assets/fonts/Montserrat-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: MontserratBold;
  src: url('~assets/fonts/Montserrat-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: InconsolataRegular;
  src: url('~assets/fonts/Inconsolata-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: InconsolataBold;
  src: url('~assets/fonts/Inconsolata-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html {

  @apply text-lg;

  @media only screen and (min-width: 640px) {
    @apply text-xl;
  }

  /* @media only screen and (min-width: 768px) {
    @apply text-xl;
  } */

  @media only screen and (min-width: 1024px) {
    @apply text-2xl;
  }

  /* @media only screen and (min-width: 1280px) {
    @apply text-3xl;
  } */
}

html body {
  font-family: sans-serif;
}

html.fonts-regular-loaded body {
  @apply font-body;
}

html.fonts-regular-loaded h1,
html.fonts-regular-loaded h2,
html.fonts-regular-loaded h3,
html.fonts-regular-loaded h4,
html.fonts-regular-loaded h5,
html.fonts-regular-loaded h6 {
  @apply font-montbold;
}

/* Lazy loading image animation */
.lazyloaded {
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Tailwind typografy */
.prose ul>li:before {
  background-color: theme('colors.orange.900');
}

.prose ol>li::before {
  color: theme('colors.orange.900');
}

.prose thead {
  border-bottom-color: theme('colors.orange.900');
}

.prose tbody tr {
  border-bottom-color: theme('colors.orange.900');
}
